
<div class="card shadow border-0 my-4">
    <div class="card-header text-light  bg-gradient ml-0 py-3">
        <div class="row">
            <h1 class="py-2">User List</h1>
        </div>
    </div>
    <div class="card-body p-4">
       

        <table id="tblData" class="table table-bordered table-striped" style="width:100%">
            <thead>
            <tr>
                <th>Name</th>
                <th>SurName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Company</th>
                <th>Role</th>
                <th></th>
                
            </tr>
            </thead>
        </table>

    </div>
</div>

@section Scripts{
    <script src="~/js/user.js"></script>
}