@model int 

<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-center"> Payment Successfully!</h1>
        Order number : @Model <br/><br/>
        <img src="/images/product/lawn_leaf.jpg" width="65%"></img>
    </div>
    <div class="col-12 text-center" style="color: #0dcaf0">
        <br/>
        Your Order has been placed successfully! <br/>
    </div>
</div>